@page
@model BECamLot.Pages.beclModel
@{
     ViewData["Title"] = "test page";
}

<link href="~/css/becl.css?v=9" rel="stylesheet" />
  
   
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/becl.js"></script>

    <div>
        <input  type="button" value="Preview" onclick="loadstandard()" />
    </div>
    <div id="div_becl">
        <div id="div_report"></div>
        <div id="div_report2"></div>
        <div id="div_report3"></div>
        <div id="div_report4"></div>

    </div>
    