@page
@model BECamLot.Pages.beclModel
@{
     ViewData["Title"] = "test page";
}

<link href="~/css/becl.css?v=9" rel="stylesheet" />
  
   
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/becl.js?v=1"></script>
    <div id="div_be" style="display:none;">
    <div>
        <input  type="button" value="User" onclick="loadstandard('user')" />
        <input  type="button" value="Master" onclick="loadstandard('master')" />
    </div>
    <div id="div_becl">
        <div id="div_report"></div>
        <div id="div_report2"></div>
        <div id="div_report3"></div>
        <div id="div_report4"></div>

    </div>
    <div>
        <div>Jackpot</div>
        <div style="padding: 5px 0px;">
        <span>
            <select id="selectMaster" onclick="selectmaster(this)">
                <option value=""></option>
            </select>
        </span>
        <span>
            <select id="selectMember">
                <option value=""></option>
            </select>
        </span>
        </div>
        <div style="padding: 5px 0px;">
        <span>
            <select id="selectAmount">
                <option value=""></option>
            </select>
        </span>
        <div style="padding: 5px 0px;">
        <span>
            <input type="button" value="Add Jakepot" onclick="setjakepot()" />
        </span>
                <span>
            <input type="button" value="Block Win" onclick="setblockwin()" />
        </span>

        <span>
            <input type="button" value="Remove Jakepot" onclick="removejakepot()" />
        </span>
        <div id="lblinfo" style="color:red;"></div>
        </div>
        </div>

        <div>
            <input type="button" value="Jackpot" onclick="showjakepot()" />
        </div>
        <div id="div_jackpot">

        </div>
    </div>
    </div>
    